
<h2>Sign up # REG</h2>

<%= form_for @user, url: user_registration_path, :method => 'post' do |f| %>
<%#= devise_error_messages! %>
<%#debugger%>
<table>
<%= f.fields_for :userinformation do |uf| %>
  <tr>
    <td>First Name : </td>
    <td><%= uf.text_field :fname, :value => @userinformation.fname %></td>
  </tr>

  <tr>
    <td>Last Name : </td>
    <td><%=uf.text_field :lname, :value => @userinformation.lname %></td>
  </tr>

  <tr>
    <td>Email : </td>
    <td><%=f.email_field :email, :value => @user.email %></td>
  </tr>

  <tr>
    <td>Password : </td>
    <td><%=f.password_field :password, :value => @user.password %></td>
  </tr>  

  <tr>
    <td>Phone no. : </td>
    <td><%=uf.text_field :phone, :value => @userinformation.phone %></td>
  </tr>
  <tr>
    <td>Mobile : </td>
    <td><%=uf.text_field :mobileno, :value => @userinformation.mobileno %></td>
  </tr>

  <tr>
    <td>Gender : </td>
    <td><%=uf.text_field :gender, :value => @userinformation.gender %></td>
  </tr>

  <%= uf.fields_for :addresses do |af| %>
  <tr>
    <td>Address (Line 1) : </td>
    <td><%= af.text_field :line1, :value => @address.line1 %></td>
  </tr>
  <tr>
    <td>Line 2 : </td>
    <td><%= af.text_field :line2, :value => @address.line2 %></td>
  </tr>
  <tr>
    <td>City : </td>
    <td><%=af.text_field :city , :value => @address.city%></td>
  </tr>
  <tr>
    <td>state : </td>
    <%#debugger%>
  <%select_tag_str = af.select(:state_id, State.all.collect{|u| [u.name, u.id]})%>
  <td><%= select_tag_str %></td>
  </tr>
     
  <tr>
  <td> pincode: </td>
  <td><%=af.text_field :zipcode, :value => @address.zipcode %></td>      
  </tr>

  <tr>
    <td>Country : </td>
    <%#debugger%>
  <%select_tag_str = af.select(:country_id, Country.all.collect{|u| [u.name, u.id]})%>
  <td><%= select_tag_str %></td>
  </tr>

<% end %>
<% end %>
    <tr>
      <td><%= f.submit :class => "form_submit"%></td>
    </tr>
  </table>

  <br />
  <%= render :partial => "devise/shared/links" %>

  <p>
    <%= link_to "Home Page", root_path %> <p>
  </p>
  <% end %>
